{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ recipe_object.title }} -
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>

            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'edit_recipe' recipe_object.id %}">Edit this recipe</a>
                <a href="{% url 'delete_recipe' recipe_object.id %}">Delete this recipe</a>
                <a href="{% url 'user_logout' %}" class="right">Logout</a>
                <div class="right">Hello, {{ user.username }}</div>
            {% else %}
                <a href="{% url 'user_login' %}" class="right">Login</a>
                <a href="{% url 'signup' %}" class="right">Sign up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <p>Author: {{ recipe_object.author.username|default_if_none:"Anon" }}</p>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</th>
                    <td>{{ ingredient.food_item }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}

<!--<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ recipe_object.title }} -
            Scrumptious Recipes
        </title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
            </nav>
        </header>
        <main>
            <h1>{{ recipe_object.title }}</h1>
            <img src="{{ recipe_object.picture }}">
            <div>4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
        </main>
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
</html>-->
