{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ recipe_object.title }} -
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'delete_recipe' recipe_object.id %}">Delete this recipe</a>
                <a href="{% url 'user_logout' %}" class="right">Logout</a>
                <div class="right">Hello, {{ user.username }}</div>
            {% else %}
                <a href="{% url 'user_login' %}" class="right">Login</a>
                <a href="{% url 'signup' %}" class="right">Sign up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Edit {{ recipe_object.title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
        </form>
    </main>
{% endblock content %}

<!--<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ recipe_object.title }} -
            Scrumptious Recipes
        </title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
            </nav>
        </header>
        <main>
            <h1>Edit {{ recipe_object.title }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Save</button>
            </form>
        </main>
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
</html>-->
