{% extends 'base.html' %}
{% load static %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>

            {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'user_logout' %}" class="right">Logout</a>
                <div class="right">Hello, {{ user.username }}</div>
            {% else %}
                <a href="{% url 'user_login' %}" class="right">Login</a>
                <a href="{% url 'signup' %}" class="right">Sign up</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="grid">
            {% for recipe in recipe_list %}
            <div>
                <h2><a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h2>
                <img src="{{ recipe.picture }}">
                <p>Posted on: {{ recipe.created_on|date:"SHORT_DATE_FORMAT" }}</p>
                <div>4.3 stars</div>
            </div>
            {% empty %}
                <p>Looks like you haven't posted any recipes! Click "Create a recipe" to get started!</p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}

<!--<!DOCTYPE html>
<html>
    <head>
        <title>Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
            </nav>
        </header>
        <main>
            <h1>Scrumptious Recipes</h1>
            <h2>All the food that's fit to eat</h2>
            <div class="grid">
                {% for recipe in recipe_list %}
                <div>
                    <h2><a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h2>
                    <img src="{{ recipe.picture }}">
                    <p>Posted on: {{ recipe.created_on|date:"SHORT_DATE_FORMAT" }}</p>
                    <div>4.3 stars</div>
                </div>
                {% empty %}
                    <p>There are no recipes.</p>
                {% endfor %}
            </div>
        </main>
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
</html>-->
