@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Montserrat:wght@300&family=Unbounded&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

nav {
    border-bottom: 2px solid #011F26;
    padding: 16px;
    background-color: #F2668B;
}

nav > a, a:visited, .right {
    padding-left: 22px;
    padding-right: 22px;
}

a, a:visited, .right {
    text-decoration: none;
    color: #025E73;
}

.right {
    /*display: inline-block;*/
    float: right;
}

main {
    padding: 16px;
}

.grid {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    width: 100%;
}

img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

p {
    margin: 10px 0px 10px 0px;
}

h1 {
    color: #025E73;
}

thead > tr {
    background-color: gainsboro;
}

tbody > tr:nth-child(odd) {
    background-color: rgba(250, 250, 250);
}

tbody > tr:nth-child(even) {
    background-color: gainsboro;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: #03A688;
}

img {
    height: 200px;
}

button {
    margin: 10px 10px 0px 0px;
}
